fastapi
uvicorn
python-multipart

sqlalchemy

pymupdf

chromadb

langchain
langchain-community
langchain-openai

sentence-transformers

tensorflow

scikit-learn

python-dotenv


pydantic
pydantic-settings
openai

numpy
pandas